html {
  width: 350px;
  height: 480px;
  font-size: 10px;
  font-family: $base-font;
  margin: 0;
  padding: 0;
  line-height: 1.15;
}

body {
  font-size: 1.6rem;
  padding: 0;
  max-width: 380px;
  position: relative;
  margin: 0;
  height: 480px;
}

#app {
  padding: 1em;
  height: 480px;
}

* {
  outline: none!important;
  box-sizing: border-box;
}
