.keys-btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.35em;
  height: 2em;
  width: 2em;
  line-height: 2em;
  color: $blue-base;
  background: white;
  text-align: center;
  box-shadow: 0 10px 20px rgba(20, 28, 98, 0.08);
  margin: 0 0.25em;
  border-radius: 100%;
  &.active {
    background: $blue-base;
    color: white;
  }
}
