.tbl {
  display: table;
  width: 100%;
  height: 100%;
  &-cell {
    display: table-cell;
  }
  &-row {
    display: table-row;
    width: 100%;
    height: 100%;
  }
}

.cell {
  @for $i from 1 to 13 {
    &-#{$i}{
      width: percentage(math.div($i, 12));
    }
    &-#{$i}em {
      width: #{$i}em;
      &-2x {
        width: #{$i * 2}em;
      }
    }
  }
  &-gtr {
    width: 3rem;
  }
}
