.tooltip {
  padding: 10px;
  font-size: 11px;
  line-height: 17px;
  letter-spacing: .04em;
  text-align: center;
  background-color: rgba(29, 33, 41, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: opacity 300ms ease-in;
  white-space: nowrap;
  color: white;
  opacity: 0;
  &.shown {
    opacity: 1;
  }
}
