.tooltip-menu {
  display: block;
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px;
  transform: translate(162px, 184px);
  padding: 10px 0;
  border: none;
  background: white;
  z-index: 2;
  box-shadow: rgba(20, 28, 98, 0.1) 0px 5px 20px;
  border-radius: 3px;
  min-width: 150px;
  z-index: 50;
  &-item {
    display: block;
    padding: 15px 20px;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      background-color: #F5F6FA;
    }
  }
}
