.#{$icomoon-prefix}-magic-wand { 
  &:before {
    content: $icon-magic-wand;
  }
}
.#{$icomoon-prefix}-telegram { 
  &:before {
    content: $icon-telegram;
  }
}
.#{$icomoon-prefix}-add { 
  &:before {
    content: $icon-add;
  }
}
.#{$icomoon-prefix}-keys-pair { 
  &:before {
    content: $icon-keys-pair;
  }
}
.#{$icomoon-prefix}-passkey { 
  &:before {
    content: $icon-passkey;
  }
}
.#{$icomoon-prefix}-car-key { 
  &:before {
    content: $icon-car-key;
  }
}
.#{$icomoon-prefix}-gems { 
  &:before {
    content: $icon-gems;
  }
}
.#{$icomoon-prefix}-gem { 
  &:before {
    content: $icon-gem;
  }
}
.#{$icomoon-prefix}-loop { 
  &:before {
    content: $icon-loop;
  }
}
.#{$icomoon-prefix}-angle-down { 
  &:before {
    content: $icon-angle-down;
  }
}
.#{$icomoon-prefix}-angle-up { 
  &:before {
    content: $icon-angle-up;
  }
}
.#{$icomoon-prefix}-ellipsis-v { 
  &:before {
    content: $icon-ellipsis-v;
  }
}
.#{$icomoon-prefix}-caret-down { 
  &:before {
    content: $icon-caret-down;
  }
}
.#{$icomoon-prefix}-cog { 
  &:before {
    content: $icon-cog;
  }
}
.#{$icomoon-prefix}-paste { 
  &:before {
    content: $icon-paste;
  }
}
.#{$icomoon-prefix}-upload { 
  &:before {
    content: $icon-upload;
  }
}
.#{$icomoon-prefix}-download { 
  &:before {
    content: $icon-download;
  }
}
.#{$icomoon-prefix}-logout { 
  &:before {
    content: $icon-logout;
  }
}
.#{$icomoon-prefix}-copy { 
  &:before {
    content: $icon-copy;
  }
}
.#{$icomoon-prefix}-delete { 
  &:before {
    content: $icon-delete;
  }
}
.#{$icomoon-prefix}-wallet { 
  &:before {
    content: $icon-wallet;
  }
}
.#{$icomoon-prefix}-money { 
  &:before {
    content: $icon-money;
  }
}
.#{$icomoon-prefix}-cash { 
  &:before {
    content: $icon-cash;
  }
}

