$icon-add: "\e906";
$icon-ellipsis-v: "\e905";
$icon-caret-down: "\e902";
$icon-wallet: "\e904";
$icon-money: "\e904";
$icon-cash: "\e904";
$icon-copy: "\e901";
$icon-logout: "\e903";
$icon-delete: "\e900";

