$icon-cog: "\e90d";
$icon-gem: "\e907";
$icon-paste: "\e90c";
$icon-upload: "\e90b";
$icon-download: "\e90a";
$icon-logout: "\e903";
$icon-copy: "\e901";
$icon-delete: "\e900";
$icon-angle-down: "\e908";
$icon-angle-up: "\e909";
$icon-ellipsis-v: "\e905";
$icon-caret-down: "\e902";
$icon-add: "\e906";
$icon-wallet: "\e904";
$icon-money: "\e904";
$icon-cash: "\e904";

