.alg {
  &-t {
    vertical-align: top;
  }
  &-m {
    vertical-align: middle;
  }
  &-b {
    vertical-align: bottom;
  }
}

.hover-parent {
  &-show {
    opacity: 0;
    transition: opacity 200ms linear;
  }
  &:not(:hover) .hover-parent-hidden {
    display: none;
  }
  &:hover {
    .hover-parent-show {
      opacity: 1;
    }
  }
}

.bg-white {
  background: white;
}

.pos-rel {
  position: relative;
}

.hoverable {
  transition: background-color 200ms ease-in;
  &:hover, &.hover {
    background-color: #F5F6FA;
  }
}

.upcase {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

.ghost {
  background-color: #F5F6FA;
  > * {
    opacity: 0;
  }
}
