.alg {
  &-t {
    vertical-align: top;
  }
  &-m {
    vertical-align: middle;
  }
  &-b {
    vertical-align: bottom;
  }
}

.hover-parent {
  &-show {
    opacity: 0;
    transition: opacity 200ms linear;
  }
  &:hover {
    .hover-parent-show {
      opacity: 1;
    }
  }
}

.bg-white {
  background: white;
}

.pos-rel {
  position: relative;
}
