$blue-base: #0083e0;
$red-base: #e71717;
$color-label: #8c96a7;

$text-colors: (
  ('label', $color-label),
  ('dim', #666),
  ('blue', $blue-base),
  ('red', $red-base),
  ('light', #bbb),
);

$ui-colors: (
  ('red', $red-base),
  ('blue', $blue-base),
  ('dim', #004c3f),
);
