$blue-base: #0083e0;
$red-base: #e71717;

$text-colors: (
  ('dim', #666),
  ('blue', $blue-base),
  ('red', $red-base),
  ('light', #bbb),
);

$ui-colors: (
  ('red', $red-base),
  ('blue', $blue-base),
);
