$font-path: '../fonts';

$typo-presets: (text, head, title);
$typo-start: 0.6em;

$fw-norm: 400;
$fw-semi: 500;
$fw-bold: 700;

$typo-steps: (xs, sm, norm, md, lg);

$base-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
